<!--suppress HtmlFormInputWithoutLabel -->
<p-toast position="top-left" key="main"></p-toast>
<div>
  <p-toolbar>
    <div class="p-toolbar-group-left">
      {{'OTHER.MODE' | translate}}: {{ 'MODES.' + dms.mode | uppercase | translate }}
    </div>
    <div class="p-toolbar-group-right">
      <span>{{ username }}</span>
      <p-button (click)="signOut()">{{'BUTTONS.SIGN_OUT' | translate}}</p-button>
      <p-button routerLink="/auth">{{ 'BUTTONS.GO_TO_AUTH_PAGE' | translate }}</p-button>
      <app-language-switch></app-language-switch>
    </div>
  </p-toolbar>
  <div class="container">

    <!-- Canvas -->
    <p-panel id="canvas-panel" [header]="'HEADERS.CANVAS' | translate">
      <app-canvas [radius]="canvasRadius" [widthHeight]="canvasWidthHeight"  [matching-radius]="matchingRadius"
                  (onSubmit)="submitHit($event)" [hits]="$hits"

      ></app-canvas>
      <!-- Canvas settings -->
      <div>
        <div class="p-field-checkbox">
          <p-checkbox [(ngModel)]="matchingRadius" [binary]="true" id="matching-radius"></p-checkbox>
          <label for="matching-radius">{{ "OTHER.MATCHING_RADIUS" | translate }}</label>
        </div>
        <div>
          <p>R = {{canvasRadius}}</p>
          <p-slider [(ngModel)]="canvasRadius" [step]="1" [min]="0" [max]="3"></p-slider>
        </div>
      </div>
    </p-panel>

    <!-- Manual input -->
    <p-panel id="manual-input-panel" [header]="'HEADERS.MANUAL_INPUT' | translate">
      <form [formGroup]="pointForm" style="text-align: center">

        <div class="p-field">
          <div class="p-inputgroup" style="align-items: center">
            <p style="margin-right: 10px">X:</p>
            <p-listbox [options]="xValues" formControlName="x" [listStyle]="{'max-height':'100px'}"></p-listbox>
          </div>
        </div>

        <!-- Y -->
        <div class="p-field">
          <!-- Y input field -->
          <div id="y-input">
            <div style="margin-right: 15px">Y = {{yForm.value | number:'1.2-2'}}</div>
            <input type="range" min="-5" max="5" step="0.01" formControlName="y">
          </div>
          <!-- Y validation messages -->
          <div *ngIf="yForm.invalid && yForm.touched" class="p-invalid">
            <small *ngIf="yForm.errors?.min || yForm.errors?.max">
              {{'VALIDATION.Y_MUST_BE_IN_RANGE' | translate}} (-5...5)
            </small>
          </div>
        </div>

        <!-- R -->
        <div class="p-field">
          <div class="p-inputgroup" style="align-items: center">
            <p style="margin-right: 10px">R:</p>
            <!-- R input ListBox -->
            <p-listbox [options]="rValues" formControlName="r" [listStyle]="{'max-height':'100px'}"></p-listbox>
            <!-- R validation messages -->
            <small *ngIf="rForm.value < 0" class="p-invalid" style="margin-left: 0.5rem">
              {{'VALIDATION.RADIUS_MUST_BE_POSITIVE' | translate}}
            </small>
          </div>
        </div>

        <div id="manual-input-buttons">
          <p-button id="submit" (click)="submitHit(pointForm.value)"
                    [disabled]="pointForm.invalid || isNaN(yForm.value)"> {{ 'BUTTONS.SUBMIT' | translate }} </p-button>
          <p-button id="clear" (click)="clearHits()">{{"BUTTONS.CLEAR_HITS" | translate}}</p-button>
        </div>

      </form>
    </p-panel>

    <!-- Table -->
    <p-panel id="table-panel" [header]="'HEADERS.TABLE' | translate">
      <app-table [value]="$hits"></app-table>
    </p-panel>

  </div>
</div>
