#y-input {
  display: flex;
  align-items: center;
  justify-content: stretch;
  flex-wrap: nowrap;

  input[type='range'] {
    flex-grow: 1;
    width: auto;
    max-width: 300px;
  }
}

// Breakpoints
$mobile: 0;
$tablet: 840px;
$desktop: 1052px;

// Mixins
@mixin shrink-limit($width) {
  min-width: $width;
  flex-basis: $width;
}

// Panel container
.container {
  margin: 0.5rem -0.25rem;
  justify-content: stretch; // horizontal alignment
  display: flex;
  align-items: flex-start; // on top of items
  flex-wrap: wrap;
}

// Panels
.container > * {
  margin: 0 0.25rem 0.5rem;
}

#table-panel {
  @include shrink-limit(250px);
  flex-grow: 10000;
}

// Desktop
@media screen and (min-width: $desktop) {
  #manual-input-panel {
    @include shrink-limit(300px);
    flex-grow: 1;
  }
}

// Tablet
@media screen and (min-width: $tablet) and (max-width: $desktop) {
  #table-panel {
    flex-basis: 100%; // forces table-panel be screen-wide on next row
  }
  #manual-input-panel {
    @include shrink-limit(250px);
    flex-grow: 1;
  }
}

// Mobile
@media screen and (max-width: $tablet) {
  .container {
    flex-direction: column;
    align-items: stretch;
  }
  #canvas-panel {
    align-self: center;
  }
}

p-button#clear {
  margin-left: 0.4rem;
}

.p-toolbar-group-right > * {
  margin-left: 0.4rem
}
