<!--suppress HtmlFormInputWithoutLabel -->
<div>
  <p-toolbar>
    <div class="p-toolbar-group-left">
      Lab work №4
    </div>
    <div class="p-toolbar-group-right">
      <span style="margin-right: 0.5rem">{{ username }}</span>
      <p-button (click)="signOut()">Sign out</p-button>
      <p-button routerLink="/auth" [ngStyle]="{'margin-left':'0.5rem'}">Go to auth page</p-button>
    </div>
  </p-toolbar>
  <div class="p-grid p-ai-center vertical-container" style="margin-top: 5px; align-items:flex-start">

    <p-panel class="p-col" header="Canvas"> <!-- todo size depends on canvas size -->
      <app-canvas [radius]="canvasRadius" [widthHeight]="500" [data]="hits" [matching-radius]="matchingRadius">
      </app-canvas> <!-- todo size depends on monitor -->
    </p-panel>

    <p-panel class="p-col-3" header="Manual input">
      <form [formGroup]="pointForm" style="text-align: center">

        <div class="p-field">
          <div class="p-inputgroup" style="align-items: center">
            <p style="margin-right: 10px">X:</p>
            <p-listbox [options]="xValues" formControlName="x" [listStyle]="{'max-height':'100px'}"></p-listbox>
          </div>
        </div>

        <div class="p-field">
          <div class="p-inputgroup">
            <p style="margin-right: 10px">Y:</p>
            <input [class.p-invalid]="yForm.invalid && yForm.touched" pInputText formControlName="y">
          </div>
          <div *ngIf="yForm.invalid && yForm.touched" class="p-invalid">
            <small *ngIf="yForm.errors?.required">
              Y is required.
            </small>
            <small *ngIf="yForm.errors?.min || yForm.errors?.max">
              Y must be in range (-5...5)
            </small>
          </div>
        </div>

        <div class="p-field">
          <div class="p-inputgroup" style="align-items: center">
            <p style="margin-right: 10px">R:</p>
            <p-listbox [options]="rValues" formControlName="r" [listStyle]="{'max-height':'100px'}"></p-listbox>
            <small *ngIf="rForm.value < 0" class="p-invalid" style="margin-left: 0.5rem">
              Radius must be positive.
            </small>
          </div>
        </div>

        <p-button (click)="submitHit(pointForm.value)" [disabled]="pointForm.invalid">Submit</p-button>
        <p-button (click)="clearHits()" [ngStyle]="{'margin-left':'0.5rem'}">Clear hits</p-button>

      </form>
    </p-panel>

    <p-panel class="p-col" header="Table">
      <p-table id="hits-table" [value]="hits">
        <ng-template pTemplate="header">
          <tr>
            <th>X</th>
            <th>Y</th>
            <th>R</th>
            <th>Result</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-hit>
          <tr>
            <td>{{hit.x}}</td>
            <td>{{hit.y | number: '1.2'}}</td>
            <td>{{hit.r}}</td>
            <td>{{hit.result ? 'Hit' : 'Miss'}}</td>
          </tr>
        </ng-template>
      </p-table>
    </p-panel>

  </div>
</div>
