@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
  font-family: 'Roboto', sans-serif;
}

.page {
  align-items: center;
  display: flex;
  // change for different screens
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  //overflow: auto;
}
